.add-tour input,textarea{
    width: 100%;
    display: block;
    margin-top: 5px;
    padding: 10px 15px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
}
.add-tour input:focus{
    outline: none;
}
.add-tour textarea:focus{
    outline: none;
}